[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
confidential_vote = "Bc7u1THDttJMjzbdhestYiXPqq8XxCJMpfeDzU54h66L"

[programs.devnet]
confidential_vote = "Bc7u1THDttJMjzbdhestYiXPqq8XxCJMpfeDzU54h66L"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "node ./node_modules/.bin/ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
